.main-nav{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-area: nav-bar;
    min-height: 0;
    position: fixed;
    /* width: calc(var(--nav-bar-width) + 9px); */
    width: 255px;
    z-index: 100;
    height: 100%;
    /* overflow: visible; */
}

.nav-bar-div{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    cursor: default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    padding-top: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

.logo-nav{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    margin-bottom: 2px;
}

.logo-link{
    -webkit-box-flex: 1;
    border: 0;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 18px;
    padding: 0 24px;
    position: relative;
}

.logo-svg-nav{
    right: 40px;
    max-width: 131px;
    width: 100%;
}

.nav-logo{
    position: relative;
    z-index: 100;
    fill: #fff;
    /* margin-bottom: -50px; */
}

.nav-link-a-tag{
    -webkit-box-flex: 1;
    border: 0;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 18px;
    padding: 0 24px;
    position: relative;
}

/* ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */

.nav-bar-list-item{
    padding: 0 8px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.home-link-nav{
    /* color: #fff; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    height: 40px;
    padding: 0 16px;

    text-decoration: none;
    margin-block: 0px;
    font-size: 0.85rem;
    font-weight: 700;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    color: #B3B3B3;
}

@keyframes bounce {
    0%, 25%, 50%, 75%, 90%, 100%{
        transform: translateY(0); }
    15%, 40%{
        transform: translateY(-20px); }
    65%, 80%{
        transform: translateY(-15px);}
    95% {
        transform: translateY(-5px); } 
    }

@keyframes click {
    100%{
    transform: scale(0.95);}
}

.home-link-nav:active{
    transform: scale(0.98);
    /* animation: click 1s; */
}

.home-link-nav:hover{
    color: white;
}

.home-link-nav:hover .nav-home-sav-hidden{
    fill: white;
}

.nav-home-sav-hidden{
    fill: #B3B3B3;
}

.home-nav-text{
    /* text-decoration: none;
    font-size: 0.875rem;
    margin-block: 0px;
    font-weight: 700;
    color: white; */
}

.playlist-button-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;

    --left-sidebar-item-height: 32px;
    --left-sidebar-padding-left: 24px;
    --left-sidebar-padding-right: 24px;
    --left-sidebar-item-pill-horizontal-padding: 7px;
    --left-sidebar-item-indentation-width: 16px;
    --left-sidebar-edit-input-height: 26px;
    -ms-flex-positive: 1;
    -ms-flex-negative: 0;
    -ms-flex: 1;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 24px;
    position: relative;
}

.playlist-button-wrapper{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    height: 100%;
    opacity: 1;
}

.create-playlist-button{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border: none;
    /* color: #fff; */
    /* color: #B3B3B3; */
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    opacity: .7;
    padding: 8px var(--left-sidebar-padding-right) 8px var(--left-sidebar-padding-left);
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    width: 100%;
    font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif),sans-serif;
    /* opacity: 1; */
}

.svg-button-div{
    margin-right: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-negative: 0;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    height: 16px;
    justify-content: center;
    padding: 4px;
    position: relative;
    width: 16px;
}

.div-inside-svg{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background:white;
    border-radius: 2px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.create-playlist-text{
    font-size: 0.85rem;
    font-weight: 700;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    color: white
}


.create-playlist-outer-div:hover .create-playlist-button{
    opacity: 1;
}

/* .create-playlist-button:hover .div-inside-svg{
    background: white;
} */

.divider-playlist{
    position: relative;
}

.divider-playlist-real{
    background-color: #282828;
    border: none;
    height: 1px;
    margin: 8px var(--left-sidebar-padding-right) 0 var(--left-sidebar-padding-left);
    min-height: 1px;
}

/* cool fade effect on top when scrolling through the playlists: */
.space-after-divider{
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.7)),to(transparent));
    background: linear-gradient(180deg,rgba(0,0,0,.7),transparent);
    bottom: -16px;
    height: 16px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: 1;
    position: relative;
}

.playlists-list-div{
    height: 100%;
    color: white;
}