.album-index-page{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* grid-area: album-index-page; */
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    /* width: 100%; */
    /* margin-left: -256px; */
    /* min-height: 150%; */

    /* max-height: fit-content;
    min-height: fit-content; */

    /* min-height: 150vh; */
    /* width: 60%; */
    position: relative;
    overflow-x: hidden;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    isolation: isolate;
    
    /* height: 100%; */
    background-image: linear-gradient(#222222, #0c0c0c);
    /* overflow-y: visible; */
    z-index: -9999;
}

.album-index-container{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    /* min-height: fit-content; */
    /* height: 100%; */

    position: relative;
    /* display: grid; */
    /* grid-gap: 24px; */
    /* padding: 24px, 32px, 0px, 0px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0;
    max-width: 1955px;
    display: flex;

    /* min-height: fit-content; */
}

.section-1-albums{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /* --shelf-min-height: 300px;    */
    contain-intrinsic-size: auto var(--shelf-min-height);
    content-visibility: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* margin-bottom: 30px; */
    /* min-height: var(--shelf-min-height); */
    min-width: 100%;
    position: relative;

    /* min-height: fit-content; */
    /* height: 100%; */
}

.section-1-title-div{
    grid-column: 1/-1;
}

.section-1-title-div-inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
}

.section-1-title-div-inner-inner{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    display: block;
    flex-grow: 1;
    line-height: normal;
    min-width: 0;
}

.albums-index-title{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: #fff;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-container{
    /* --column-width: 230px; */
    /* --column-count: 7; */
    /* --grid-gap: 24px; */

    /* grid-auto-rows: auto; */
    /* grid-template-rows: 1fr; */
    /* overflow-y: hidden; */
    /* grid-gap: var(--grid-gap); */
    /* display: grid; */
    /* grid-template-columns: (auto-fill, minmax(0,1fr)); */
    /* grid-auto-flow: row; */
    /* grid-template-columns: 7, 1fr; */
    /* grid-template-columns: (auto-fill, 1fr); */
    /* grid-auto-rows: 168px; */


    /* --column-width: 168px; */
    /* --column-count: 7; */
    /* --grid-gap: ; */
    /* grid-auto-rows: auto; */
    /* grid-template-rows: 1fr; */
    /* overflow-y: hidden; */
    /* grid-gap: var(--grid-gap); */
    /* display: grid; */
    /* grid-template-columns: repeat(1fr); */
    /* grid-template-columns: repeat(var(--column-count),minmax(var(--column-width), 1fr)); */
    /* grid-template-columns: repeat(auto-fill, 168px); */
    /* grid-template-columns: repeat(auto, minmax(0,1fr)); */
    /* overflow: hidden; */
    /* overflow-block:visible; */
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    /* justify-content: space-evenly; */
    /* width: 82%; */
    /* overflow-x: wrap; */
    /* overflow-wrap: break-word; */
    gap: 2.5vh;
    /* display: flex; */
    /* grid-auto-flow: column; */
}



.album-container{
    --card-container-border-radius: clamp(4px,(var(--column-width,0px) - 32px) * 0.025,8px);
    -webkit-box-flex: 1;
    /* background-image: linear-gradient(#1b1b1b, #181818); */
    background: #1d1d1d;
    border-radius: 3%;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    /* -webkit-transition: background-image .3s ease; */
    /* transition: background-image .3s ease; */
    width: 82%;
    min-width: 160px;
    max-width: 8vw;
    /* overflow: auto; */
    /* resize: vertical; */
}

.album-outer{
    height: 100%;
}

.album-cover{
    margin-bottom: 20px;
    position: relative;
}

.album-cover-inner{
    --card-image-border-radius: clamp(4px,(var(--column-width,0px) - 32px) * 0.025,8px);
    background-color: var(--card-color,#333);
    border-radius: var(--card-image-border-radius);
    -webkit-box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.album-image{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 2%;
}

.song-info{
    min-height: 62px;
}

.album-title-link{
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    text-decoration: none;
}

.title-album-index{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    padding-block-end: 4px;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.artist-name-index-page{
    flex: 1;
    isolation: isolate;
    /* padding: 16px; */
    position: relative;
    width: 100%;
    padding-top: 11px;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: var(--text-subdued,#b3b3b3);
}

.gradient-div{
    position: absolute;
    z-index: -999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: linear-gradient(#131313, #313131);
    border-radius: 3%;

    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: opacity;
    /* max-width: 8.5vw; */
}

.album-container:hover .gradient-div{
    opacity: 1;
}

.album-container:hover{
    cursor: pointer;
}