.main-content-container{
    position: relative;
    background-color: pink;
    margin-left: 255px;
    height: 100%;
}

.background-theme-album{
    position: relative;
    background-image: linear-gradient(180deg, white, black);
    height: 100%;
}

.album-show-section{
    position: relative;
    /* margin-top: -64px; */
}

.header-content-album-show{
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    overflow: hidden;
    padding-bottom: 24px;
    position: relative;
    height: 30vh;
    max-height: 500px;
    min-height: 320px;

    margin: 0;
    max-width: 1955px;
    padding: 0 20px;
    padding-bottom: 20px;
}

/* .header-content-album-show-background{
    height: 100%;
    position: relative;
    width: 100%;
} */

.album-photo-container{
    margin-right: 24px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-flex-item-align: end;
    -ms-flex-negative: 0;
    align-items: flex-end;
    align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    height: 192px;
    width: 192px;
    z-index: 0;
}

.album-photo-container-inner{
    height: 100%;
    width: 100%;
}

.album-image-show-page{
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    height: 100%;
    width: 100%;
}

.album-info-show-page-container{
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-flow: column;
    flex-flow: column;
    justify-content: flex-end;
    z-index: 0;
}

.album-title-show-page{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    font-weight: 800;
    margin-top: 4px;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.02em;
}

.span-album-title-show{
    line-height: normal;
    margin-top: 8px;
    overflow: hidden;
    text-align: left;
    width: 100%;
    word-break: break-word;
}

.span-inner-title-show{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 4rem;
    font-weight: 900;
    font-family: Helvetica, Arial, sans-serif;
    color: white
}

.more-info-album-show{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 8px;
}

.artist-info-album-show{
    color: hsla(0,0%,100%,.7);
    white-space: nowrap;
    grid-gap: 4px;
    display: grid;
    grid-auto-flow: column;
}

.artist-name-album-show{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.8125rem;
    font-weight: 900;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

.year-info-album-show{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    white-space: nowrap;
}

.year-info-album-show::before{
    content: "•";
    margin: 0px 4px;
}

.album-info-time{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    white-space: nowrap;
}

.album-info-time::before{
    content: "•";
    margin: 0px 4px;
}

.album-info-time-length{
    color: rgb(211, 211, 211)
}