/* TODO Add site wide styles */
#root {
    /* min-height: 100vh; */
    /* height: 100%; */
    /* display: flex; */
    position: absolute;
    /* isolation: isolate; */
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    /* bottom: 64px; */
}
