/* TODO Add site wide styles */
#root {
    min-height: 200vh;
    height: 100%;
    display: flex;
    position: relative;
    isolation: isolate;
    width: 100%;
    margin: 0;
    /* bottom: 64px; */
}
